<div class="container">
  <div class="row col-12">
    <button type="button" class="btn btn-primary" (click)="voirFormulaire()">{{ formulaireBouton }}</button>
  </div>
  <br/>
  <div class="row col-12">
    <form *ngIf="!hiddenFormulaire" (ngSubmit)="addProduit()" [formGroup]="produitForm">
      <div>
        <label>Nom</label>&nbsp;<input name="nom" formControlName="nom">
        <div class="error" *ngIf="nomCtrl.dirty && nomCtrl.touched && nomCtrl.hasError('required')">Nom obligatoire</div>
      </div>
      <div>
        <label>Fournisseur</label>&nbsp;<input name="fournisseur" formControlName="fournisseur">
        <div class="error" *ngIf="fournisseurCtrl.dirty && fournisseurCtrl.hasError('required')">Fournisseur obligatoire</div>
      </div>
      <div>
        <label>Age</label>&nbsp;<input name="age" formControlName="age">
        <div class="error" *ngIf="ageCtrl.dirty && ageCtrl.hasError('required')">Age obligatoire</div>
        <div class="error" *ngIf="ageCtrl.dirty && ageCtrl.hasError('pattern')">Age en nombre</div>
      </div>
      <div>
        <label>Description</label>&nbsp;<input name="description" formControlName="description">
        <div class="error" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">Description obligatoire</div>
      </div>
      <button class="btn btn-success" [disabled]="produitForm.invalid" type="submit">Add</button>
    </form>
  </div>
  <br/>
  <div class="row col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Fournisseur</th>
          <th scope="col">Email</th>
          <th scope="col">Ingredients</th>
          <th scope="col">Description</th>
          <th scope="col">Age</th>
          <th scope="col">Conservation</th>
          <th scope="col">Prix</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of tabProduit; let i = index">
          <td>{{ produit.nom | uppercase}}</td>
          <td>{{ produit.fournisseur }}</td>
          <td>{{ produit.email }}</td>
          <td>{{ produit.ingredients ? produit.ingredients.join(", ") : "" }}</td>
          <td>{{ produit.description | slice: 0:20}}</td>
          <td>{{ produit.age }}</td>
          <td>{{ produit.conservation }}</td>
          <td>{{ produit.prix ? (produit.prix | number:fractionSize)+ "€" : "" }}</td>
          <td><button class="btn btn-danger" (click)="supprimer(i)"> X </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>